<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom">
  <div class="container-fluid navbar-custom">
    <img src="logo.png" class="logo-img">
    <a class="navbar-brand" href="main.html">MOV-E</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="profile.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rec_search.html">Recommend</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <!-- <li class="nav-item">
            <a class="nav-link" aria-current="page" href="profile.html">Profile</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="main.html">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

  <div class="container-fluid rec-container topten">
    <div class="main-text">
      <h1>Your Top 10 Movies</h1>
    </div>
    <div class="card text-white bg-dark" style="width: 18rem;">
      <img src="trial.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">1</h5>
        <h5 class="card-title">Movie Name</h5>
        <p class="card-text">A short description about the movie.</p>
        <a href="#" class="btn btn-secondary">More Details</a><br>
        <a href="#" class="btn btn-secondary">Edit</a>
        <a href="#" class="btn btn-secondary">Remove</a>
      </div>
    </div>
    <hr>

    <div class="card text-white bg-dark" style="width: 18rem;">
      <img src="trial.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">2</h5>
        <h5 class="card-title">Movie Name</h5>
        <p class="card-text">A short description about the movie.</p>
        <a href="#" class="btn btn-secondary">More Details</a><br>
        <a href="#" class="btn btn-secondary">Edit</a>
        <a href="#" class="btn btn-secondary">Remove</a>
      </div>
    </div>
    <hr>

    <div class="card text-white bg-dark" style="width: 18rem;">
      <img src="trial.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">3</h5>
        <h5 class="card-title">Movie Name</h5>
        <p class="card-text">A short description about the movie.</p>
        <a href="#" class="btn btn-secondary">More Details</a><br>
        <a href="#" class="btn btn-secondary">Edit</a>
        <a href="#" class="btn btn-secondary">Remove</a>
      </div>
    </div>
    <hr>

    <div class="card text-white bg-dark" style="width: 18rem;">
      <img src="trial.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">4</h5>
        <h5 class="card-title">Movie Name</h5>
        <p class="card-text">A short description about the movie.</p>
        <a href="#" class="btn btn-secondary">More Details</a><br>
        <a href="#" class="btn btn-secondary">Edit</a>
        <a href="#" class="btn btn-secondary">Remove</a>
      </div>
    </div>
    <hr>


    <button class="get-started"><a href="#">Add New</a></button>
    <button class="get-started"><a href="profile.html">Move Back</a></button>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>
